<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <header></header>
  </head>

  <body>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <main>
        <section class="container">
            <div class="row container justify-content-center">
            <div class="col-1 ms-4"><img src="../../assets/img/Logogaton.png" alt="Icono" height="300" width="300" ></div>
            <div class="col-1"></div>
            <h1 class="text-center my-5">Prototipo formación y aprendizaje</h1>
            </div>
            </section>

        
            <section class="container fluid">
                <div class="row  justify-content-center">
                    <div class="col-12">
                        <form>
                            <div class="input-group mb-3">

                                <input type="text" class="form-control" placeholder="Ingrese nombres y apellidos">
                            </div>
                        
                            <label for="Ingrese nombres y apellidos">Elige un departamento</label>
                            <select class="container justify-content-center my-2">
                                <option value="Antioquia">Antioquia</option>
                                <option value="Arauca">Arauca</option>
                                <option value="Sucre">Sucre</option>
                                <option value="Cundinamarca">Cundinamarca</option>
                                <option value="Amazonas">Amazonas</option>
                            </select>
                        </div>
                       <div class="mb-3">
                        <label for="Ingrese nombres y apellidos" class="fw-bold">Selecciona tu tipo de aporte</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              500 USD
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                              Articulos para la conservación
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                              Voluntariado
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                              Adopción de mascotas
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                              Alimentos
                            </label>
                          </div>
                        </div>

                        <div class="mb-3">
                        <p class="fw-bold">¿Quiéres recibir el peluche del frailejon?</p>
                            <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Sí
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              No
                            </label>
                          </div>

                     <div class="m-3">
                    <input type="file">
                    </div>
                </form> 
                    
            </section>
    </main>
  </body>
<footer>
  <section class="container-fluid bg-dark p-2 fuentes4 ">
    <div class="row text-white">
      <div class="col-3 text-center mx-5"> 
     <img src="../../assets/img/Logogaton.png" alt="Logo" class="img-fluid" width="200" height="200">
     <p>
    Datos de contacto
     </p>
     <a href="https://github.com/VanneHi123?tab=repositories" target="_blank">
      <i class="bi bi-github fs-1 text-white me-2" class="img-fluid" width="300" height="300" ></i>
      <a href="https://wa.me/qr/X74GZEWXKNGOK1" target="_blank">
     <i class="bi bi-whatsapp fs-1 text-white me-2" class="img-fluid" width="300" height="300" ></i>
     <a href="https://www.instagram.com/"  target="_blank">
     <i class="bi bi-instagram fs-1 text-white me-2" class="img-fluid" width="300" height="300" ></i></a>
    </div>
    
    
    <div class="col-3"  width="30" height="30">  
        <img src="../../assets/img/gif.gif" alt="GIF">
        <p>Encuentrame en Medellín</p>
    </div>
    </div>
</footer>
</html>
